
.login-container {
  display: flex;
  flex-direction: column; /* stack vertically */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #141414, #1f1f1f);
  font-family: Arial, sans-serif;
  font-size: larger;
}


.form {
  background: #222;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  width: 320px;
  color: #fff;
}


.form h2 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: #e50914; 
}


.form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form input {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 4px;
  outline: none;
  background: #333;
  color: #fff;
}

.form input:focus {
  border: 1px solid #e50914;
}


.form button {
  width: 100%;
  padding: 0.7rem;
  background: #e50914;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.form button:hover {
  background: #f6121d;
}


.login-container h3 {
  text-align: center;
  margin-top: 3rem;
  font-size: 40px;
}
