
.nav {
  position: fixed;   
  top: 0;                
  display: flex;        
  justify-content: space-between; 
  width: 100%;         
  padding: 20px;
  background-color: transparent; 
  transition: background-color 0.5s ease; 
  z-index: 1000;         
}


.nav_logo {
  width: 80px;
  object-fit: contain;   
  
}


.nav_avatar {
  width: 80px;
  object-fit: contain;
}
